profiles {

    standard {
        process.executor = 'local'
        process.cpus = 10
        process.memory = "20 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/home/tamas/Containers"
    }
    
    cluster {
        process.executor = 'local'
        process.cpus = 30
        process.memory = "100 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/node8_R10/stamas/containers"
        singularity.runOptions = "--bind /node8_R10"
    }
}
